body{
    background-image: url('../img/bg/doggy-lost.jpg');
    background-size: cover; /* Змінює розмір зображення так, щоб воно повністю вкладалося у фон */
    background-position: top; /* Вирівнює зображення */
    background-repeat: no-repeat; /* Запобігає повторенню зображення */
    background-position: fixed;
    font-family: "Irish Grover", sans-serif;
    font-style: normal;
}


/*Navigation*/
.dl-name{
    display: block;
    margin: 0 auto;
    margin-top: 64px;
    width: 750px;
}

.rectangle{
    max-width: 1280px;
    height: 60px;
    margin: 0 auto;
    border-width: 5px;
    border-color: #FEF1CF80;/*50%*/
    border-style: solid;
    background-color: #A5B3C5;
}

.navigation{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
}
.nav-link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    margin: 0 40px 0 40px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color:#FFFFFF00;
    padding: 0 8px 0 8px;
}
.navigation a{
    text-decoration: none;
}
.nav-link:hover{
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color:#FFFFFF;
}
.nav-link:active{
    background-color: #FFFFFF80;
    color: #A5B3C5;
    -webkit-text-stroke: 0.8px #FFFFFF;
}

.download-btn{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    margin: 0 40px 0 40px;
    border-color: #FFFFFF;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding: 0 8px 0 8px;
}
.download-btn:hover{
    background-color: #FFFFFF;
    border-color: #A5B3C5;
    color: #A5B3C5;
}
.download-btn:active{
    background-color: #FFFFFF80;
    border-color: #A5B3C5;
    color: #A5B3C5;
}



/*Main Content*/
.main-rectangle{
    max-width: 1280px;
    height: 554px;
    margin: 0 auto;
    margin-top: 64px;
    border-width: 5px;
    border-color: #FEF1CF80;/*50%*/
    border-style: solid;
    background-color: #A5B3C580;
}

.about-label{
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    margin-top: 24px;
}
.about-info{
    color: #FFFFFF;
    font-size: 40px;
    text-align: left;
    margin: 0 0 0 48px;
    max-width: 556px;
}

.picture{
    justify-content: left;
    display: flex;
    align-items: center;
}
.images-turnabout{
    margin: 0 0 0 228px;
    width: 400px;
}


/*Footer*/
footer{
    height: 40px;
    margin-top: 28px;
    background-color: #0C652580;/*50%*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-info{
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.footer-info p{
    margin: 3px 40px 0 40px;
    font-size: 20px;
}

.icons{
    margin: 3px 40px 0 40px;
    cursor: pointer;
    height: 38px;
}
.icons.git:hover {
    content: url(/img/dl-page/github-after.png);
}
.icons.yout:hover {
    content: url(/img/dl-page/youtube-after.png);
}
.icons.inst:hover {
    content: url(/img/dl-page/instagram-after.png);
}